@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

html{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/* navbar start*/
.navbar__class{
    /* text-align: center; */
    color: #EF9827;
    padding: 1em;
    /* background-color: gainsboro; */
}

.store__img {
    transition: 1000ms;
}

.store__img:hover {
    transform: scale(1.03) !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06) !important;
}

.footer__class{
    background-color: #EF9827;
    padding: .05px;
    color: white;
    text-align: center;
    /* height: 10vh; */
    margin-bottom: -50px;
}

a{
    text-decoration: none;
    color: white    ;
}

.content {
    min-height: calc(100vh - 112px);
  }

#upper_right {
	position: absolute;
	top: 1em;
	right: 1em;
}
.pree_footer{
    display: inline;
    color: white;
    background-color: #EF9827;
    text-align: center;
    margin: 2em;
}